body {
    background-color: antiquewhite;
    margin: 0 10px;
}

#title {
    text-align: center;
    font-size: 45px;
    font-family: Optima, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: tan;
    top: 0;
    width: 500px;
    justify-content: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
